.navbar{
    background-color: forestgreen;
    color: white;
    padding:3px;
    display: flex;
    align-items: center;
}
.navbar-links{
    color: white;
    text-decoration: underline;
    margin: 0 20px;
    font-size: 18px;

}
.brand-name{
    font-size: 20px;
    font-weight: bold;
    margin-right: 100px;
}